CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/
data/
CMakeSettings.json
out/
/build*
plot/fig/*
!plot/fig/
plot/toPlot/*
!plot/toPlot/
example-shockwave/data/*
!example-shockwave/data/
example-couette/data/*
!example-couette/data/